@model Eskul.Models.MarksAddList
@{

    var listmodel = Model.StudentsList;
    var assignmentdetails = Model.assignments;
}
  
<style>
   .small-textbox {
    width: 50px;
    height: 25px;
    font-size: 14px;
    padding: 2px;
    border: 1px solid gray;
}
.big-textbox {
    width: 100%;
    height: 25px;
    font-size: 14px;
    padding: 2px;
    border: 1px solid gray;
}
.round {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background:gray;
    color: #fff;
    text-align: center;
    line-height: 30px;
}
</style>
<br/>
<div class="col-md-12">
    <div class="card card-outline card-default">
        <div class="card-body">
<div class="col-md-12">
    
    <div class="card card-outline card-default">
        <div class="card-body">
            <div class="row">

             <div class="col-md-4">
                 <input type="hidden" id="assignmentId" asp-for="@assignmentdetails.AssignmentId" />
                  <div class="form-group">
                      <label>Assignment Name:</label>&nbsp;&nbsp;<label style="font-weight:normal; text-decoration:2px dashed red;"> @assignmentdetails.AssignmentName</label>
                      </div>
                      <div class="form-group">
                      <label>Compitency:</label>&nbsp;&nbsp;<label  style="font-weight:normal;"> @assignmentdetails.competency</label>
                      </div>
                      
              </div>
             <div class="col-md-4">
                 <div class="form-group">
                     <label>Year:</label>&nbsp;&nbsp;<label style="font-weight:normal;"> @assignmentdetails.Year</label>
                      </div>
                  <div class="form-group">
                       <label>Class: </label>&nbsp;&nbsp;<label  style="font-weight:normal;"> @assignmentdetails.Class</label>
                       </div>
                        
              </div>
              <div class="col-md-4">
                  
                        <div class="form-group">
                        <label>Stream: </label>@*&nbsp;<label> @assignmentdetails.FirstOrDefault().</label>*@
                        </div>
                         <div class="form-group">
                         <label>Term:</label>&nbsp; &nbsp;<label  style="font-weight:normal; text-underline-offset"> @assignmentdetails.Term </label>

                  </div>
              </div>
                                </div>
                                 </div>
                                  </div>
<div class="box box-primary">
 <div class="card-body">
 <table id="example2" class="table table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>
                Student No
            </th>
            <th>
            Student Name
            </th>
            <th>
                Score
            </th>
            <th>
                Comment
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (listmodel != null)
        {
            @foreach (var item in listmodel)
            {
                <tr>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentName)
                    </td>
                    <td>
                    <input type="text"  class="big-textbox" id="score-@item.StudentId" value="@item.Score" onchange="saveData(this.id)" />
                </td>
                <td>
                    <input type="text" class="big-textbox" id="comment-@item.StudentId" value="@item.Comment" onchange="saveData(this.id)" />
                </td>
                    <td>
                    <span id="status-@item.StudentId" class="status round">
                        <div class="spinner-border spinner-border-sm" role="status" style="display: none;">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <span id="tick-@item.StudentId" class="tick" style="display: none;">✔</span>
                    </span>
                </td>
                </tr>
            }

        }
        else
        {
                <tr>
                    <td colspan="10" class="text-centere">
                      No Record Found 
                    </td>
                                       
             </tr>
        }
    </tbody>
</table>
</div>
 </div>
</div>
</div>
</div>
</div>

<Script>
    function saveData(id) {
        // Extract the student ID from the textbox id
         var assignmentId = $("#assignmentId").val();
        var studentId = id.split("-")[1];
        // Retrieve the values of the score and comment textboxes
        var score = document.getElementById("score-" + studentId).value;
        var comment = document.getElementById("comment-" + studentId).value;
        // Log the student ID, score, and comment to the console
        console.log("Saving data for student: " + studentId);
        console.log("Score: " + score);
        console.log("Comment: " + comment);
       console.log("assignmentId:"+ assignmentId); 
        // Send an AJAX request to the server to save the data
        $.ajax({
            type: "POST",
            
            url:'AssignMarks',
            headers: { "Access-Control-Allow-Origin": "*" },
            data: { studentId: studentId, score: score, comment: comment,assignmentId:assignmentId },
            success: function (res) {
                // Log the server response to the console
                console.log("Server Response: " + res.res);
                var status = res.status;
                console.log("Status: " + status);
                if (res.res === "Student Subject Score successfully updated") {
                    // Update the UI with a tick mark to indicate success
                    document.getElementById("status-" + studentId).innerHTML = "&#10004;";
                    console.log("Data saved successfully for student: " + studentId);
                } else {
                    console.log("Error"+res.res+" "+" while saving data for student: " + studentId);
                }
            }
        });
    }


</Script>
